@charset "UTF-8";
*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to right,#B78B64,#D36A0E)
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5e2f07;
}
h1{
    color: #D36A0E;
    text-align: center;
    text-shadow: 1px 1px 2px #633207b0;
}
h2{
    color: #2B3D49;
}
p{
    text-align: justify;
}